@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boxerName {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Bold */
  margin-bottom: 5px;
}

.address, .records {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Regular */
  margin: 0px;
}

.Pepe {
  font-family: 'Roboto', sans-serif;
  font-weight: 900; /* Bold */
  font-size: 3.5em;
  margin: 2px;
}

img {
  width: 350px;
  height: 300px;
  object-fit: fill; 
  display: block;
  margin: 20px auto; 
  max-width: 100%; 
}

/* .gallery-container {
  margin: 20px auto; 
  max-width: 600px;
} */

button {
  margin: 10px 5px; 
  padding: 10px 20px; 
  background-color: #4CAF50; /* Green */
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker Green */
}

div.buttons-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  margin-top: 20px;
}